

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: @font-family-base;
}

h1, h2, h3, p, ul, li, a {
    color: @color-texto;
}

.fondo {
    background-color: @color-fondo;
}

li {
    padding: 0.2rem;
}

.caja {
    background-color: @color-secundario;
    padding: 1rem 2rem;
    border-radius: 3rem;
    border: 0.19rem solid @color-principal;
    box-shadow: 0 4px 8px @color-principal;
    width: 100%;
}