// Colores
@color-principal:   #8000FF;
@color-secundario:  #3B0075;
@color-fondo:       #0D001A;
@color-texto:       #ffffff;

// Fuentes
@font-family-base:  "Josefin Sans", sans-serif;

// Breakpoints 
#break-points {
    tablet:  768px;
    desktop: 1024px;
    wide:    1200px;
}
@mobile-max: 767px;


@primary-background-color: @color-fondo;