<section class="about fondo" id="about">
    <h2>Sobre mí</h2>
    <div class="content-about caja">
        <p>
            {{about.parrafo1}}
            <br><br>
            {{about.parrafo2}}
        </p>
    </div>
</section>