<footer class="main-footer fondo" id="contact">
    <h2>Contacto</h2>
    <p> <img src="./assets/contacts/email.png" alt="Email"> <a href="mailto:JManuel504@outlook.es">JManuel504@outlook.es</a></p>
    <p> <img src="./assets/contacts/github.png" alt="GitHub"> <a href="https://github.com/lM4nul" target="_blank">github.com/lM4nul</a></p>
    <p> <img src="./assets/contacts/whatsapp.png" alt="Teléfono"> +504 31982954</p>
    <p> <img src="./assets/contacts/gps.png" alt="Ubicación"> Tegucigalpa, Honduras</p>
</footer>