<header>
        <nav>
            <div class="nav-brand">
                <h1>Curriculum José Ponce</h1>
                <button id="navToggle" aria-label="Mostrar menú">☰</button>
            </div>
            <ul>
                <li><a href="#about">Sobre mí</a></li>
                <li><a href="#experience-education">Habilidades</a></li>
                <li><a href="#experience-education">Educación</a></li>
                <li><a href="#projects">Proyectos</a></li>
                <li><a href="#contact">Contacto</a></li>
            </ul>
        </nav>

        <div class="hero">
            <img src="./assets/JosePonce.jpeg" alt="Foto-Perfil">
            <h1> José Manuel Ponce Díaz </h1>
                <div class="Descripcion caja">
                    <h2> Ingeniero en Ciencias de la Computación</h2>
                    <p>Desarrollador de Software & Especialista en Hardware</p>
                </div>
        </div>
    </header>