

.about {
    padding: 2rem 2rem;
    color: @color-texto;
    .flex-center();
    min-height: 50vh;

    h2 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
        text-align: center;
    }

    .content-about {
        max-width: 900px;
    }
}