
.main-footer {
    display: flex;
    flex-direction: row;
    padding: 1rem 2rem;
    border-top: 0.19rem solid @color-principal;

    h2 {
        margin: 1rem;
    }

    p {
        margin: 0.5rem;
        align-self: center;

        @media (max-width: #break-points[tablet]) {
            font-size: 0.8rem;
        }
    }

    img {
        width: 20px;
        height: auto;
        margin-right: 0.5rem;
        vertical-align: middle;
    }
}